body {
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: medium solid black;
    border-collapse: collapse;
    padding: 5px;
}

caption {
    padding: 10px;
    font-weight: bold;
}

.axis {
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: orange;
}

.bar {
    fill: orange;
}